<div class="container">
  <app-cover>
    <h1>Article</h1>
    <p>Mark down my instant thoughts.</p>
  </app-cover>

  <div
    class="article-entry"
    [ngClass]="{ mobile: rwdService.isMobile }"
    *ngFor="let article of articles"
    (click)="viewArticle(article.id)"
  >
    <div class="intro">
      <p class="title">{{ article.title }}</p>
      <p class="subtitle">{{ article.subtitle }}</p>
      <p class="date">{{ article.date }}</p>
    </div>
    <div class="image" *ngIf="!rwdService.isMobile">
      <img [src]="article.coverImagePath" alt="article cover" />
    </div>
  </div>
</div>
