.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;

  .article-entry {
    width: 80%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .separation-line {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-index: 999;
      margin: 20px 0;
    }

    .entry {
      width: 100%;
      display: flex;
      height: 80%;
      flex-direction: row;
      overflow: hidden;
      align-items: center;

      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 70%;
        padding-left: 40px;

        .title {
          font-size: 36px;
          line-height: 50px;
        }

        .subtitle {
          font-size: 20px;
          line-height: 30px;
        }

        .date {
          font-size: 16px;
        }
      }

      .image {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
          height: 160px;
        }
      }
    }
  }

  .article-entry.mobile {
    width: 100%;
    height: fit-content;
    min-height: 140px;

    .entry {
      .intro {
        width: 60%;
        padding: 10px 20px;

        .title {
          font-size: 24px;
          line-height: 40px;
        }

        .subtitle {
          font-size: 20px;
          line-height: 20px;
        }

        .date {
          font-size: 16px;
        }
      }

      .image {
        width: 30%;
        padding-right: 20px;

        img {
          height: 100px;
        }
      }
    }
  }
}
