<div class="container">
  <app-cover *ngIf="!rwdService.isMobile">
    <h1>Article</h1>
    <p>Flash Thoughts and Revelations.</p>
  </app-cover>

  <div
    class="article-entry"
    [ngClass]="{ mobile: rwdService.isMobile }"
    *ngFor="let article of articles"
    (click)="viewArticle(article.id)"
  >
    <div class="entry">
      <div class="intro">
        <p class="title">{{ article.title }}</p>
        <p class="subtitle">{{ article.subtitle }}</p>
        <p class="date">{{ article.date }}</p>
      </div>
      <div class="image">
        <img [src]="article.coverImagePath" alt="article cover" />
      </div>
    </div>
    <div class="separation-line"></div>
  </div>
</div>
