.mat-toolbar {
  height: 70px;
  width: 100%;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;

    .name {
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-right: 20px;
      text-decoration: none;
      color: black;
    }

    .link {
      font-family: sans-serif;
      font-size: 18px;
      padding: 10px 20px;
      margin: 0;
      text-decoration: none;
      color: black;
      transition: 0.2s ease-in-out;
    }

    .link:hover {
      background-color: #eee;
      border-radius: 100px;
    }
  }
}
