.homepage {
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .greeting-text {
    height: 400px;
    width: 60%;
    padding-left: 10%;

    h1 {
      font-family: Consolas;
      font-size: 50px;
      line-height: 100px;
      margin: 0;

      span {
        display: inline-block;
      }
    }
  }

  .greeting-text.mobile {
    width: 80%;
    padding-left: 0;
    padding-top: 20px;

    h1 {
      font-size: 30px;
      line-height: 50px;
    }
  }

  .greeting-image {
    width: 40%;
    display: flex;
    justify-content: flex-start;

    img {
      width: 75%;
    }
  }

  .greeting-image.mobile {
    width: 60%;

    img {
      width: 100%;
    }
  }
}

.homepage.mobile {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
